<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head')%>

    <link rel="stylesheet" href="../../../public/styles/reset.css">
    <link rel="stylesheet" href="../../../public/styles/base.css">

</head>

<body>
    <%- include('../../layout/header')%>

    <main>
        <section>
            <img src="<%=book.image_url%>">
            <h2>Title: <%=book.title%></h2>
            <h3>Author: <%=book.author%></h3>
            <p>Description: <%=book.description%></p>
            <p>ISBN: <%=book.isbn%></p>
            <p>Bookshelf: <%=book.bookshelf%></p>

            <form action="/books/<%=book.id%>?_method=PUT" method="POST">
                <input type="hidden" name="bookImage" value="<%=book.image_url%>">

                <input type="text" name="bookTitle" value="<%=book.title%>">
                <br>
                <input type="text" name="bookAuthor" value="<%=book.author%>">
                <br>
                <textarea type="text" name="bookDescription" value="<%=book.description%>" rows="6" cols="35" placeholder="<%=book.description%>"></textarea>
                <br>
                <input type="text" name="bookISBN" value="<%=book.isbn%>">
                <br>
                <input type="text" name="addBookShelf"  placeholder="Add new bookshelfs from here..">
                <br>
                <button type="submit">Update Book</button>
                <br>               
                <select name="bookShelfName" id="bookShelfId">
                    <option value="default">This is the default bookshelf</option>
                    <option value="<%=book.bookshelf%>"><%=book.bookshelf%></option>

                    <%#bookshelfProp.forEach((item)=> {%>
                        <option value="<%#item%>"><%#item%></option>
                    <%#})%>
         
                </select>


            </form>

            <!-- this button is to pop up the form -->
            <button type="submit">Update Details</button>
            <br>

            <form action="/books/<%=book.id%>?_method=DELETE" method="POST">

                <button type="submit">Delete Book</button>
            </form>
        </section>
    </main>

    <%- include('../../layout/footer')%>

</body>

</html>