<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head')%>

    <link href="../../../public/styles/reset.css" rel="stylesheet" type="text/css" />
    <link href="../../../public/styles/base.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <%- include('../../layout/header')%>

    <main>
        <h1>Results:</h1>
        <div>
            <% book.forEach(item => {%>
            <section>
                <form action="/books" method="POST">
                    <input type="hidden" name="bookImage" value="<%=item.imageThum%>">
                    <img src="<%=item.imageThum%>">
                    <input type="hidden" name="bookTitle" value="<%=item.title%>">
                    <h2><%=item.title%></h2>
                    <input type="hidden" name="bookAuthor" value="<%=item.author%>">
                    <h3><%=item.author%></h3>
                    <input type="hidden" name="bookDescription" value="<%=item.description%>">
                    <p><%=item.description%></p>
                    <input type="hidden" name="bookISBN" value="<%=item.isbn%>">
                    <p><%=item.isbn%></p>
                    <button type="submit">Select this Book</button>
                </form>
            </section>
            <%})%>
        </div>
    </main>

    <%- include('../../layout/footer')%>

</body>

</html>