<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../layout/head')%>
</head>
<body>
        <%- include('../layout/header')%>

    <main>
        <div>
            <p><%=books.length%> Saved Books</p>
        </div>

        <div>
            <% books.forEach(item => {%>
                <section>
                    <img src="<%=item.image_url%>">
                    <h2><%=item.title%></h2>
                    <h3><%=item.author%></h3>
                    <a class="btn" href="/books/<%=item.id%>">View Details</a>
                </section>
            <%})%>
        </div>

    </main>

    <%- include('../layout/footer')%>
   
</body>
</html>